In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faya,SA,2022-10-02 17:58:00,18.3851,42.4509,66.31,61,21,4.29
1,1,Pishva,IR,2022-10-02 17:58:01,35.3080,51.7267,76.64,31,0,6.98
2,2,Luanda,AO,2022-10-02 17:58:01,-8.8368,13.2343,75.20,83,20,6.91
3,3,Ileza,RU,2022-10-02 17:58:02,61.0533,43.9002,46.04,98,100,4.45
4,4,Cockburn Town,TC,2022-10-02 17:58:02,21.4612,-71.1419,83.55,72,30,5.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

# Create a Max Temperature heatmap

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Pishva,IR,2022-10-02 17:58:01,35.3080,51.7267,76.64,31,0,6.98
2,2,Luanda,AO,2022-10-02 17:58:01,-8.8368,13.2343,75.20,83,20,6.91
4,4,Cockburn Town,TC,2022-10-02 17:58:02,21.4612,-71.1419,83.55,72,30,5.91
20,20,Savannah Bight,HN,2022-10-02 17:58:09,16.4500,-85.8500,81.07,68,96,4.85
27,27,Hilo,US,2022-10-02 17:58:11,19.7297,-155.0900,84.27,80,0,1.99
29,29,Pangai,TO,2022-10-02 17:58:12,-19.8000,-174.3500,75.31,73,75,13.80
33,33,Krathum Baen,TH,2022-10-02 17:58:13,13.6533,100.2597,80.56,86,100,4.70
36,36,Copacabana,CO,2022-10-02 17:58:14,6.3463,-75.5089,84.00,44,75,3.44
37,37,Ponta Do Sol,PT,2022-10-02 17:58:14,32.6667,-17.1000,76.01,80,43,4.94
45,45,Nishihara,JP,2022-10-02 17:59:18,26.1842,127.7558,79.88,78,6,5.75

In [12]:
clean_preferred_cities_df = preferred_cities_df.dropna()

In [13]:
clean_preferred_cities_df.isna().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
clean_preferred_cities_df.notna().sum()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [15]:
clean_preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Pishva      IR     76.64  35.3080   51.7267
2           Luanda      AO     75.20  -8.8368   13.2343
4    Cockburn Town      TC     83.55  21.4612  -71.1419
20  Savannah Bight      HN     81.07  16.4500  -85.8500
27            Hilo      US     84.27  19.7297 -155.0900
29          Pangai      TO     75.31 -19.8000 -174.3500
33    Krathum Baen      TH     80.56  13.6533  100.2597
36      Copacabana      CO     84.00   6.3463  -75.5089
37    Ponta Do Sol      PT     76.01  32.6667  -17.1000
45       Nishihara      JP     79.88  26.1842  127.7558

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Pishva,IR,76.64,35.3080,51.7267,شهرک خورشید هشتم
2,Luanda,AO,75.20,-8.8368,13.2343,EPIC SANA Luanda
4,Cockburn Town,TC,83.55,21.4612,-71.1419,Osprey Beach Hotel
20,Savannah Bight,HN,81.07,16.4500,-85.8500,Villa on Dunbar Rock
27,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Pangai,TO,75.31,-19.8000,-174.3500,Ha'apai Beach Resort
33,Krathum Baen,TH,80.56,13.6533,100.2597,โรงแรม นิวยอร์ค รีสอร์ท อินน์
36,Copacabana,CO,84.00,6.3463,-75.5089,Hospedaje Brazil
37,Ponta Do Sol,PT,76.01,32.6667,-17.1000,Hotel do Campo
45,Nishihara,JP,79.88,26.1842,127.7558,Minshuku Agaihama

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))